@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Canvas_Like.Pages.Classes.DeleteModel
@{
	<h2>Delete Class</h2>

	<h3>Are you sure you want to delete this class?</h3>

	<div>
		<dl class="row">
			<dt class="col-sm-2">Department</dt>
			<dd class="col-sm-10">@Model.DepartmentAcronym</dd>

			<dt class="col-sm-2">Course Number</dt>
			<dd class="col-sm-10">@Model.Class.CourseNumber</dd>

			<dt class="col-sm-2">Title</dt>
			<dd class="col-sm-10">@Model.Class.Title</dd>

			<dt class="col-sm-2">Building</dt>
			<dd class="col-sm-10">@Model.Class.Building</dd>

			<dt class="col-sm-2">Room Number</dt>
			<dd class="col-sm-10">@Model.Class.RoomNumber</dd>

			<dt class="col-sm-2">Capacity</dt>
			<dd class="col-sm-10">@Model.Class.Capacity</dd>

			<dt class="col-sm-2">Meeting Time</dt>
			<dd class="col-sm-10">@Model.StartTime - @Model.EndTime</dd>
			
			<dt class="col-sm-2">Date Range</dt>
			<dd class="col-sm-10">@Model.StartDate - @Model.EndDate</dd>

			<dt class="col-sm-2">Days Met</dt>
			<dd class="col-sm-10">@Model.DaysMet</dd>

		</dl>

		<form method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="Class.ClassId" />
			<button id="delete" type="submit" class="btn btn-danger">Delete</button>
			<a asp-page="/Classes/Index" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
}
